@charset "UTF-8";

html {
    font-size: 62.5%;
}
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background: #151515 url('../images/poker.jpg') no-repeat center top;
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
    min-width: 400px;
}

.header {
    margin: 30px 50px;
}

.header h1 {
    font-size: 3.5rem;
    letter-spacing: 3px;
    padding: 20px 10px 0;
}

.header .description {
    color: azure;
    font-size: 1.8rem;
    margin: 20px;
    line-height: 2.0rem;
}

.table-name {
    font-size: 2.2rem;
    letter-spacing: 1px;
}

.parent-operations button {
    width: 150px;
    padding: 10px;
    margin: 5px 5px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 0;
    background-color: rgba(44, 145, 94, 0.6);
    color: #fff;
    font-size: 1.8rem;
    cursor: pointer;
}

.parent-operations button:disabled {
    background-color: rgba(64, 75, 69, 0.6);
}

.game-result {
    display: inline-block;
    margin: 5px 5px;
    width: 150px;
    padding: 10px;
    font-size: 1.8rem;
    background-color: rgba(15, 86, 88, 0.6);
}

.players {
    max-width: 1000px;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.player {
    margin: 5px 5px;
    background-color: rgba(15, 86, 88, 0.6);
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-me {
    background-color: rgba(27, 184, 66, 0.6);
}

.player-info {
    width: 60px;
    margin: 5px 5px;
    position: relative;
}

.player-icon-1 {
    width: 56px;
    height: 56px;
    margin: 0 auto;
    background-image: url('../images/person-1.png');
    background-repeat:no-repeat;
    background-size: cover;
}

.player-icon-2{
    width: 56px;
    height: 56px;
    margin: 0 auto;
    background-image: url('../images/person-2.png');
    background-repeat:no-repeat;
    background-size: cover;
}

.player-icon-3 {
    width: 56px;
    height: 56px;
    margin: 0 auto;
    background-image: url('../images/person-3.png');
    background-repeat:no-repeat;
    background-size: cover;
}

.player-icon-4 {
    width: 56px;
    height: 56px;
    margin: 0 auto;
    background-image: url('../images/person-4.png');
    background-repeat:no-repeat;
    background-size: cover;
}

.player-name {
    position: absolute;
    width: 60px;
    height: 48px;
    overflow: hidden;
    padding: 5px;
    top: 60px;
    font-size: 1.5rem;
}

.player-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 140px;
    margin: 8px 8px;
    background: linear-gradient(-135deg, #130469, rgb(12, 78, 139));
    border: 5px solid;
    border-radius: 10px;
    border-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.player-card-open {
    background: linear-gradient(-135deg, #3919ee, rgb(83, 152, 216));
}

.player-card .point {
    font-size: 8.0rem;
}

.deck {
    width: 350px;
    background-color: rgba(35, 112, 35, 0.8);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.deck-card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92px;
    height: 140px;
    margin: 8px 8px;
    background: linear-gradient(-135deg, #df651f, rgb(210, 230, 97));
    border: 5px solid;
    border-radius: 10px;
    border-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deck-card .point {
    font-size: 8.0rem;
}

.openForm {
    width: 280px;
    margin: 20px auto 0;
}

.openForm input {
    display: block;
    width: 100%;
    margin: 10px auto 0;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
    font-size: 1.6rem;
}

.openForm input::placeholder {
    color: darkseagreen;
}

.openForm input[type=submit] {
    width: 150px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 0;
    background-color: rgba(44, 145, 94, 0.6);
    cursor: pointer;
}

.openForm input[type=submit]:hover {
    background-color: rgba(44, 145, 94, 0.4);
}

@media (max-width: 768px) {
.header h1 {
    font-size: 2.8rem;
}
.header .description {
    font-size: 1.2rem;
}
.openForm input[type=submit] {
    width: 100%;
}
}

